* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vw;
    background: #111;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    overflow: hidden;
}

h1 {
    color: rgba(255, 255, 255, 0.2);
    letter-spacing: 20px;
    text-align: center;
    margin: 10px;
    font-size: 45px;
    background: url(image/fire.jpg) repeat-x;
    background-size: contain;
    -webkit-background-clip: text;
    animation: fire 15s linear infinite;
}

@keyframes fire {
    0% {
        background-position: left 0 top 10px;
    }
    50% {
        background-position: left 125px top -10px;
    }
    100% {
        background-position: left 250px top 10px;
    }
}

.container {
    background: #222;
    position: relative;
    width: 900px;
    height: 500px;
}

.container .element {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    transition: 0.4s;
}

.container .element.air {
    background: url(image/air.jpg) center;
    background-size: cover;
    clip-path: polygon(0 0, 40% 0, 15% 100%, 0 100%);
}

.container .element.earth {
    background: url(image/earth.jpg) center;
    background-size: cover;
    clip-path: polygon(40% 0, 90% 0, 45% 100%, 15% 100%);
}

.container .element.water {
    background: url(image/water.jpg) center;
    background-size: cover;
    clip-path: polygon(90% 0, 100% 0, 100% 100%, 45% 100%);
}

.container:hover .element {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.container .element:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.container .element .content {
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 80%;
    padding: 18px;
    background: #fff;
    opacity: 0;
    transition: 0.5s;
}

.container .element:hover .content {
    bottom: 0;
    opacity: 1;
}

footer {
    position: fixed;
    bottom: 0;
    color: #fff;
    font-family: sans-serif, cursive;
    font-size: 13px;
}